[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
typing-extensions = "*"
click = "*"
streamlit = "*"
mlflow = "2.9.2"
lightgbm = "4.1.0"
pydantic = "*"
httpx = "*"
pytest = "*"
seaborn = "*"
streamlit-option-menu = "*"
requests = "*"
plotly = "*"
bokeh = "==2.4.3"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
test = "pytest"
